@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
 background-color: #1F2937;
}

.centered{
  justify-content: center;
  align-items: center;
  display: flex;
}

.transparent{
  color: transparent;
}

.bg-transparent{
  background-color: transparent;
} 

.border-transparent{
  background-color: transparent;
} 

.swap-input-cover{
  background-color: #1e2329;
  border-radius: 0.5rem;
  height: 15vh;
} 

.token-holder {
  width: 30px;
  height: 30px;
  min-height: 30px;
  position: relative;
  border-radius: 200px;
}
.token-img{
  height: 100%;
  position: relative;
  background-size: cover;
  background-position: center;
  border-radius: 100%;
}